.carousel {
    margin: auto;
    width: 400px;
    height: auto;
    border-radius: 40px !important;
}

.caption {
    color: black;
    background-color: white;
    opacity: .5;
    border-radius: 30px;
}

.image {
    width: 400px;
    height: auto;
    border-radius: 50%;

}

.home-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
    color: #073142;
}

.app-instructions {
    margin-top: 40px;
    margin-right: 70px;
    margin-left: 70px;
}

.created-by {
    text-align: center;
    margin: 25px;
}

.creator-title {
    text-decoration: none;
}

.creator-container {
    margin-bottom: 50px;
}

.creator-links{
    text-decoration: none;
    color: black;
}

.linkedin {
    color:blue;
}