.alcoholic {
    color: green;
    font-size: .5em;
    vertical-align: text-top;
}

.have {
    color: green;
    font-size: .5em;
    vertical-align: text-top;
}

.need {
    color: red;
    font-size: .5em;
    vertical-align: text-top;
}

.card-img-top {
    margin-left: -12px;
}

.card-button {
    color: white;
    background-color: #020051;
    cursor: pointer;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    }


  .card-button {
      background-color: #020051;
      border-color: white ;
  }

  .cocktail-image {
      border-radius: 15%;
      width: 400px;
      height: auto;
      padding: 15px;
  }

  .detail-container {
      text-align: center;
      margin: 20px;
  }

  ul {
    list-style-type: none;
  }


  .instructions {
      text-align: left;
      border: black;
      border: solid;
      border-color: #020051;
      border-radius: 2px;
  }

  .border {
     border-bottom: red;
     border-color: red;
     border: solid;
     width: 100%;
  }