.header {
  background: #1194ff;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* testing the style might use bootstrap later */
.form {
  display: flex;
    justify-content: space-around;
          /* background: #1194ff; */
          position: fixed;
          overflow: hidden;
        width: 100%;
        margin-top: 0px;
}


.title {
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
    }

    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        background: #1194ff;
        position: fixed;
        z-index: 2;
        padding: 5px;
        overflow: hidden;
        width: 100%;
        margin-top: 0px;
      }
      
      .nav-links {
        color: white;
        cursor: pointer;
        }

      .link {
          text-decoration: none;
          color: white;
          cursor: pointer;
      }
      
      .nav-links:hover {
        transform: scale(1.1);
        transition: 0.3s;
      }
      
      /* @media only screen and (max-width: 1136px) {
        nav ul {
          display: grid;
          grid-gap: 5px 0px;
          grid-template-columns: auto auto auto auto auto auto;
          justify-content: center;
          align-items: center;
        }
      
        nav ul li {
          color: white;
          cursor: pointer;
          padding: 10px;
        }
      
        nav ul li:hover {
          transform: scale(1.1);
          transition: 0.3s;
        }
      
        @media only screen and (max-width: 753px) {
          nav ul {
            display: grid;
            grid-gap: 5px 0px;
            grid-template-columns: auto auto auto;
            justify-content: center;
            align-items: center;
          }
      
          nav ul li {
            color: white;
            cursor: pointer;
            padding: 10px;
          }
      
          nav ul li:hover {
            transform: scale(1.1);
            transition: 0.3s;
          }
        }
      } */
      

/* .title {

} */